:root {
  --Nav: rgba(122, 118, 118, 0.411);
  --Body: rgb(220, 208, 208);
  --main: #f3f3f3;
}

*{
  box-sizing: border-box;
}


main{
 display:flex;
 flex-direction:column; 
  max-width: 900px;
  margin: 0 auto;

background-color: var(--main) ;


}

.navContainer{
  display:flex;
  justify-content: space-between;
  background-color: var(--Nav) !important;
  color: white;

  min-height: 80px;
}

.navContainer a{
  text-decoration: none !important;
  color:inherit;
}

.navContainer .logo{
  font-weight: bold;
}

.headerdesign{
  display: flex;
  justify-content: space-between;
  gap:50px
  }
 
  .headerdesign .design:hover,  a:hover{
    color: rgb(239, 75, 10);
  }
  .edit:hover{
    background-color: #d74c4c;
  }

  .desi:active{
    background-color: rgb(222, 177, 31);
  }
.Homepage{
margin-top: 15px;
display: grid;
grid-template-columns: 0.7fr 1fr;
gap:10px;
margin-bottom: 15px;  
background-color: var(--Body) ;
max-height:800px ;
padding:15px;

}
@media screen and (min-width: 1400px) {
  
  .Homepage{
    grid-template-columns:  1fr;
    
  }
  .profile{
    text-align: center;
  }
  
}


.headerPost{
  background-color: var(--Body) ;
}

 .header-form{
width: 100%;
margin: 10px 0;
min-height: 350px;
background-color: rgb(220, 208, 208) ;
}

.profile{
margin:6px 0;
color:#888;
font-size: .7rem;
font-weight: bold;
align-items: center;
justify-content: center;
display:flex;
}

h3{
  margin: 0 0;
}
.texthead{
  margin: 10px auto;
  font-size: 1.9rem;
  text-align: justify;
  
}
img{
max-width: 300px;
object-fit: contain;
padding: 0 20px;
margin: 5px 10px;
min-height: 300px;



}

.textbody{
  margin-top: 10px;
  line-height: 1.6rem;
font-weight:inherit
}

form{
  display:flex;
  flex-direction: column;
  width: 60%;
  margin: 100px auto;
  
}

input{
  margin-bottom: 5px;
  width:100% !important;
  padding:5px !important;
  border-bottom: 1px solid #ddd;
  color:black;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
}
.text{
  background-color: white;
  border-color: aquamarine;
}
button{
  background-color: #b81313;
  color:white;
  padding : 7px 0;
}

.Postpage{
  background-color: var(--Body);
  display:flex;
  flex-direction: column;

}
.Postpage .imgContainer{
  overflow: hidden;
  display:flex;
  margin: 3px auto;

}
.Postpage .imgContainer img{
  margin: 0 0 !important;
  padding: 15px !important;

}

.texthead{
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.profil{
  text-align: center;
  font-size: .8rem;
  color:#aaa
}
.edit{
  text-decoration: none;
  color: #fff;
  display: inline-block;
  padding: 10px;
  background-color: var(--Nav);
}
.editdiv{
  text-align: center;
  margin: 5px;
}